$text-color-white: #ffffff;
$bg-color-white: #ffffff;
$text-color-balck: #000000;
$bg-color-orange-500: #fe713e;
$bg-amber-700: #dd4d19;
$bg-red-org: #be3200;
$text-color-primary: #fe713e;
$bg-zinc-800: #393939;
$text-color-raisin-black: #252525;
$bg-color-raisin-black: #252525;
$border-color-raisin-black: #252525;
$text-color-blue-grey-900: #323232;
$text-gray-600: #6d6d6d;
$border-gray-600: #6d6d6d;
$bg-gray-200: #f3eeef;
$bg-gray-300: #dfdfdf;
$border-gray-400: #bdbdbd;
$bg-color-beige-50: #F3EEEF;
$text-color-gray-500: #7d7d7d;
$text-color-orange-500: #dd754f;
$text-color-peach-100: #ffd8ca;
$text-neutral-900: #282828;